<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <!--<extensions>
      <add assembly="NLog.Targets.Gelf" />
    </extensions>-->
  <variable name="projectName" value="ScriptEditor" />
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="file"
            xsi:type="File"
            fileName="C:\Logs\${projectName}\${projectName}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            encoding="utf-8"
            maxArchiveFiles="20"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} - ${message} ${exception:innerFormat=ToString:maxInnerExceptionLevel=10:innerExceptionSeparator=newline:separator=newline:format=ToString}" />
    <target name="console" xsi:type="Console" />
    <target xsi:type="Mail"
            name="mail"
            body="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} - ${message} ${exception:innerFormat=ToString:maxInnerExceptionLevel=10:innerExceptionSeparator=newline:separator=newline:format=ToString}"
            html="true"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml="true"
            encoding="utf-8"
            subject="ScriptEditor error on ${machinename}"
            to="scripteditor@motionscript.com"
            from="scripteditor@motionscript.com"
            enableSsl="false"
            smtpServer="motionscript"
            smtpPort="25"
            useSystemNetMailSettings="false"
            timeout="180" />
    <target xsi:type="Mongo"
          name="mongo"
          connectionString="mongodb://testral-mongo:27017"
          collectionName="Logging"
          cappedCollectionSize="26214400"
          includeDefaults="true">

      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>
  </targets>
  <rules>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="mail" />
    <logger name="*" minlevel="Fatal" writeTo="mail" />
    <logger name="*" minlevel="Info" writeTo="mongo" />
  </rules>
</nlog>
