body {
    margin: 0;
    background-color: #f6f6f6;
    color: #000000;
    background: transparent;
    font-family: Courier New, Helvetica, Arial, Sans-Serif;
    font-size: 12pt;
}

.row,
.col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.header.row {
    height: 75px;
    top: 0;
}

.body.row {
    top: 75px;
    bottom: 50px;
}

.footer.row {
    height: 50px;
    bottom: 0;
}

.header h1 {
    margin: 0;
}

/* Specific pane configuration */
.header.row {
    height: 95px;
    background: #f6f6f6;
}

.footer.row {
    background: #f6f6f6;
}

.left.col {
    background-color: #808080;
}

p.headerInfo {
    display: inline-block;
    width: 200px;
}

.header,
.footer {
    padding: 0 1em;
}

.left.col {
    top: 95px;
    width: 250px;
}

.right.col {
    top: 95px;
    left: 250px;
    right: 0;
}

.right.col .header.row {
    height: 95px;
    line-height: 75px;
    background-color: #828281;
}

.body.row {
    top: 95px;
    bottom: 50px;
}

.footer.row {
    height: 50px;
    bottom: 0;
    line-height: 50px;
}

/* Nav */
#sidebar > div > ul {
    counter-reset: li;
    list-style-type: none;
    position: relative;
}

#sidebar > div > ul > li {
    padding: 10px;
    margin: 4px;
    float: left;
}

#sidebar > div > ul > li:before {
    counter-increment: li;
    content: counter(li, decimal)".";
    position: absolute;
    left: 2em;
    text-align: right;
    text-decoration: underline;
    color: #80c622;
}

#action-command {
    margin: 4px;
    background-color: #00bfff;
    width: 200px;
    height: 20px;
}

#workplace {
    width: 800px;
    background-color: #ffffff;
    margin-left: 400px;
}

#main {
    background-color: #f6f6f6;
}

.clear {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Ribbon */
#ribbon {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 200px;
    height: 20px;
    z-index: 1000;
}

#ribbon i {
    width: 15px;
    margin-right: 5px;
    display: inline-block;
}

.ci-save:before {
    content: '\e858'
}

.ci-delete:before {
    content: 'x'
}

.ci:before {
    font-family: "celtxicons";
    font-style: normal;
    font-weight: normal;
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    font-family: "lato", sans-serif;
    padding: 4px 8px 4px 8px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    background-color: #a8a8a8;
    background-image: -webkit-linear-gradient(top, #999999, #bfbfbf);
    background-repeat: repeat-x;
    background: #999999;
    -ms-text-shadow: none !important;
    text-shadow: none !important;
    -ms-border-radius: 3px !important;
    border-radius: 3px !important;
    border: none !important;
    text-decoration: none;
    cursor: pointer;
}

/* Blocks */
.action {
    text-transform: none;
}

.sceneheading {
    background-color: #c0c0c0;
    margin-left: 0;
}

.character {
    margin-left: 200px;
}

.dialog {
    text-transform: none;
    margin-left: 120px;
    margin-right: 160px;
}

.parenthetical {
    margin-bottom: 0;
    margin-left: 160px;
    margin-right: 160px;
}

.parenthetical:before {
    content: "(";
}

.parenthetical:after {
    content: ")";
}

.transition {
    text-align: right;
    text-transform: uppercase;
}

.shot {
    text-transform: uppercase;
    margin-left: 0;
}

.text {
    text-transform: none;
}
