<p contenteditable="true" class="headerInfo" id="name"><%- name %></p>
Author: <%- author.fullName() %>, 
Version: <p contenteditable="true" class="headerInfo" id="version"><%- version %></p>
<br/>
<select id="action-command">
    <option value="sceneheading">Scene heading</option>
    <option value="action">Action</option>
    <option value="character">Character</option>
    <option value="dialog">Dialog</option>
    <option value="parenthetical">Parenthetical</option>
    <option value="transition">Transition</option>
    <option value="shot">Shot</option>
    <option value="text">Text</option>
</select>
