<div id="ribbon"></div>
<div id="header" class="header row"></div>
<div id="sidebar" class="left col"></div>
<div id="main" class="right col"></div>
<div class="footer row">
    <p>Created by <a href="http://github.com/abelevtsov">Aleksandr Belevtsov</a>
        and <a href="http://github.com/apadalka">Aleksandr Padalka</a>
        using <a href="http://marionettejs.com">Backbone.Marionette</a> | See who else is using marionette at <a href="http://marionettejs.com/">marionettejs.com</a>.
    </p>
</div>
